/*
KEYBOARD SHORTCUTS
==================================================================
Move Line Up / Down
Ctrl + ↑ / Ctrl + ↓

Delete Line
Ctrl + Shift + K

Indent
Ctrl + [

Go to start of line
Home OR Fn + ←

Go to end of line   
End or Fn + →

Multiple Selection
Ctrl + D

Find in All Files
Ctrl + Shift + F
*/

/* ==========================================================================
   Custom styles
   ========================================================================== */

/* All styles */

/* The hero image */
.hero-image {
    /* Set a specific height */
    height: 500px;

    /* Position and center the image to scale nicely on all screens */
    background-position: inital;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-about {
	background-image: url("https://picsum.photos/800/401/?random");
}

.hero-blog {
	background-image: url("https://picsum.photos/800/402/?random");
}

.hero-contact {
	background-image: url("https://picsum.photos/800/403/?random");
}

/* Overwrite bootstrap background on nav bar to new color*/
nav.bg-dark {
	background-color: #000000 !important;
	 /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23cbcacc' fill-opacity='0.11'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E") !important; */
	/* TBD if I want a SVG or just plain black*/
}

h3 {
	color: #ED1C24;
	font-weight: 600;
}

.navbar-brand img {
	width:200px;
}

/* Mobile */

@media only screen and (max-width: 991px) { 

.navbar-brand img {
	width:150px;
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.navbar-nav {
	background: #2E2E2F;
	box-shadow: 
		inset 0px 11px 15px -10px #000000,
    	inset 0px -8px 15px -10px #000000;
}

li.nav-item {
	background: transparent;
} /*make nav items transparent so containing div background can be seen */

.navbar-toggler {
}

.navbar-brand {
	padding: 13px 16px;
	
}

.navbar-toggler {
	margin-right: 10px;
}

.nav-item {
	background: black;
}

.nav-link {
	padding: 8px 16px !important;
}

.first {
	padding-top: 8px;
}

.last {
	padding-bottom: 8px;
}
}