/*
KEYBOARD SHORTCUTS
==================================================================
Move Line Up / Down
Ctrl + ↑ / Ctrl + ↓

Delete Line
Ctrl + Shift + K

Indent
Ctrl + [

Go to start of line
Home OR Fn + ←

Go to end of line   
End or Fn + →

Multiple Selection
Ctrl + D

Find in All Files
Ctrl + Shift + F
*/

/* ==========================================================================
   Custom styles
   ========================================================================== */

/* All styles */

/* Font size scaling */

/* SVG Styles */

.brand {
	fill: #ffffff;
	width:200px;
}

/* The hero image */
.hero-image {
    /* Set a specific height */
    height: 500px;

    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-about {
	background-image: url("../img/nitish-kadam-34748-unsplash.jpg");
}

.hero-projects {
	background-image: url("../img/justin-leibow-62-unsplash.jpg");
}

.hero-contact {
	background-image: url("../img/todd-desantis-37264-unsplash.jpg");
}

/* Overwrite bootstrap background on nav bar to new color*/
nav.bg-dark {
	background-color: #000000 !important;
}

h3 {
	color: #ED1C24;
	font-weight: 600;
}

/* Social and page footer hidden for release, do in next sprint*/

.social, .page-footer {
	display: none;
}

/* Mobile */

/*First media query to resize the nav brand to fit on one line*/

@media only screen and (max-width: 400px) { 

.brand {
	width: 150px;
}

/* Hero image to fit on smaller screen */

.hero-image {
	height: 200px;
}

@media only screen and (max-width: 991px) { 

/* Hero image to fit on next size screen */

.hero-image {
	height: 250px;
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.navbar-nav {
	background: #2E2E2F;
	box-shadow: 
		inset 0px 11px 15px -10px #000000,
    	inset 0px -8px 15px -10px #000000;
}

li.nav-item {
	background: transparent;
} /*make nav items transparent so containing div background can be seen */

.navbar-toggler {
}

.navbar-brand {
	padding: 13px 16px;
	
}

.navbar-toggler {
	margin-right: 10px;
}

.nav-item {
	background: black;
}

.nav-link {
	padding: 8px 16px !important;
}

.first {
	padding-top: 8px;
}

.last {
	padding-bottom: 8px;
}
}

