/* All styles */

@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.btn-primary {
  border: 0;
  background-color: $theme-colour-3;
  transition: ease .5s background-color;
  &:hover {
    background-color: $theme-colour-1;
  }
}

a,
a:hover {
  color: $theme-colour-1;
  &:hover {
    // font-weight: 600;
  }
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* Font size scaling */

/* SVG Styles */

.brand {
  fill: $brand-white;
  width: 200px;
}

.linkedin {
  @include social($linkedin);
}

.insta {
  @include social($insta);
}

/* The hero image */
.hero-about {
  /* Set a specific height */
  height: 760px;
  box-shadow: inset 0 0 30px $nav-black;
  div {
    //hero text in next div
    //! Do I need this postioned?
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    font: 700 5rem Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}

@each $key, $value in $hero-colours {
  .hero-#{$key} {
    @extend .hero-about;
    background-color: $value;
  }
}

/* Overwrite bootstrap background on nav bar to new color*/
nav.bg-dark {
  background-color: #000000 !important;
}

h3 {
  color: $theme-colour-3;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

/* Mobile */

@media only screen and (max-width: 991px) {
  /* Hero image to fit on next size screen */

  .navbar {
    padding: 0px;
    margin: 0px;
  }

  .navbar-nav {
    background: $nav-black;
    box-shadow: inset 0px 11px 15px -10px #000000,
      inset 0px -8px 15px -10px #000000;
  }

  li.nav-item {
    background: transparent;
  } /*make nav items transparent so containing div background can be seen */

  /* .navbar-toggler {
  } */

  .navbar-brand {
    padding: 13px 16px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .nav-item {
    background: $nav-black;
  }

  .nav-link {
    padding: 8px 16px !important;
  }

  .navbar-nav {
    li:first-of-type {
      padding-top: 8px;
    }
  }

  .navbar-nav li:last-of-type {
    padding-bottom: 8px;
  }
}

/*First media query to resize the nav brand to fit on one line*/

@media only screen and (max-width: 450px) {
  .brand {
    width: 150px;
  }

  /* Hero image to fit on smaller screen */

  .hero-about {
    height: 400px;
  }
}
